[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = git@github.com:0xNF/0xNF.github.io.git
	branch = master
[submodule "themes/hugo_theme_beg"]
	path = themes/hugo_theme_beg
	url = https://github.com/dim0627/hugo_theme_beg.git
